<div class="container p-0 m-t-30">
  <div class="row card m-0 m-b-10 p-l-20">
    <form>
      <div class="form-group col-md-2">
        <label class="control-label">Keywords</label>
        <input type="text" class="form-control" value="professional">
      </div>
      <div class="form-group col-md-3">
        <label for="" class="control-label">Category</label>
        <select class="select form-control">
          <option>Software engineering</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
          <option>Option 5</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-info btn-sm">Search</button>
      </div>
    </form>
  </div>
  <div *ngFor="let news of newsList" class="row card m-0 m-b-5">
    <div class="col-md-2 p-0 ">
      <img [src]="news.imgUrl" alt="">
    </div>
    <div class="col-md-7 p-t-15">
      <a routerLink="/news/detail">{{news.title}} </a>
      <h6>In order to be a designer who has professional skills and effective products, you should ...</h6>
      <h5>
        <i class="zmdi zmdi-time zmdi-hc-fw"></i>
        <span>{{news.date}}</span>
      </h5>

    </div>
    <div class="col-md-3 text-center p-t-30">
      <button class="btn btn-facebook btn-round  btn-sm">{{news.likes}} likes</button>
      <button class="btn btn-facebook btn-round  btn-sm">Share</button>
    </div>
  </div>

  <div>
    <nav class="pull-right" aria-label="pagination">
      <ul class="pagination">
        <li>
          <a routerLink="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active">
          <a routerLink="#">1
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a routerLink="#">2</a>
        </li>
        <li>
          <a routerLink="#">3</a>
        </li>
        <li>
          <a routerLink="#" aria-label="Previous">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
