<footer id="footer_wrapper" class="m-footer">
  <div class="footer-content">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h4>About us</h4>
        <h5>
            <p>A proven leader in construction management with self-performance capabilities. Delivering successful projects with
                an emphasis on quality, safety, schedule, and customer service.</p>
        </h5>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <h4>Follow us on</h4>
        <div class="m-t-20">
          <button class="btn btn-fab btn-fab-sm btn-facebook m-l-10">
            <i class="zmdi zmdi-facebook"></i>
          </button>
          <button class="btn btn-fab btn-fab-sm btn-google m-l-5">
            <i class="zmdi zmdi-google-plus"></i>
          </button>
          <button class="btn btn-fab btn-fab-sm btn-twitter m-l-5">
            <i class="zmdi zmdi-twitter"></i>
          </button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h4>Contact with us</h4>
        <h5>
         <p> <i class="zmdi zmdi-phone zmdi-hc-fw"></i>
          0123456789</p>
        </h5>
        <p></p>
        <iframe width="390" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB8i9uE1nQyIrImsIl5Ug1QwMdYKa5mCec
         &q=11+Duy+Tân,+Dịch+Vọng+Hậu,+Cầu+Giấy,+Hanoi" allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="row copy-wrapper">
      <div class="col text-center">
        <h5>
            <p class="copy">&copy; Copyright
                <time class="year"></time> CMC Global - All Rights Reserved</p>
        </h5>
      </div>
    </div>
  </div>
</footer>
